.RegisterDiv {
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 8%;
	padding: 3em;
	border: 1px solid black;
	width: 40%;
}

.RegisterDiv > div {
	margin: 1em;
}

.RegisterDiv > div > input {
	padding: 0.5em;
}

